$back-color:white;
$highlight-color:rgb(84, 230, 205);
$blue:#4c69f6;
$light-blue:#4c94f6;
$yellow:#f6db35;
$orange:#ffc510;
$red:#ee5454;

@font-face {
    font-family: Avenger-outline;
    src: url('../fonts/avengers/HeroesAssemble3DRegular-gz3p.otf');
}

@font-face {
    font-family: Avenger-bold;
    src: url('../fonts/avengers/HeroesAssembleBoldExpanded-WELO.otf');
}

@font-face {
    font-family: Marvel;
    src: url('../fonts/MarvelRegular-Dj83.ttf');
}

@font-face {
    font-family: Ragnarok;
    src: url('../fonts/ThorRagnarok-xWEm.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    // font-family:Avenger-bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: cadetblue;
    box-sizing: border-box;
    // color:white;
}

div.svg-shirt {
    width: 95%;
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 3em;
    border-radius: 0.7em;
    // box-shadow: 0px 35px 44px -3px #adadad;
}

// input text field search pin
section:nth-of-type(1) {


    input[type="text"] {
        border: 0.4em solid black;
        width: 20em;
        height: 3em;
        border-radius: 2em;
        outline: none;
        font-size: 1em;
        font-weight: 800;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        letter-spacing: 0.7em;
    }

    input[type="submit"] {
        height: 4.8em;
        border-radius: 3.2em;
        background: yellow;
        border: 0.4em solid black;
        font-weight: 800;
    }
}

.svg-shirt svg {
    margin: auto;
    padding: 2em;

    & path {
        fill: black;
    }
}

section:nth-of-type(2) {
    background: $yellow;
    padding: 1em;
    width: 38.1em;
    margin: 1.3em auto;
    border: .5em solid black;

    h2 {
        text-align: center;
    }

    .steps {
        display: flex;
        justify-content: center;

        div {
            margin: 1.5em;
            text-align: center;
        }

        svg {
            width: 4em;

            & path {
                fill: black;
            }

            &polygon {
                fill: black;
            }
        }
    }
}


fieldset {
    border: none;
    background: #d4d9de;
}


section:first-of-type {
    display: block;
    position: relative;
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    font-family: Avenger-outline;
    font-size: 4em;
    text-align: center;
}

form {
    width: 100%;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;

    fieldset {
        background: white;
        margin: 1em;
        width: 90vw;
        border: 0.5em solid
    }

    legend {
        color: white;
        background: $red;
        width: 10em;
        padding: 0.9em;
        border: .3em solid black;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        margin: 0.6em;
    }

}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

input[type="radio"]+label[for^=blue] {
    color: #ffffff;
    font-weight: bold;
    background: blue;
}

input[type="radio"]+label[for^=red] {
    color: #ffffff;
    font-weight: bold;
    background: red;
}

input[type="radio"]+label[for^=yellow] {
    color: black;
    font-weight: bold;
    background: yellow;
}

input[type="radio"]+label[for^=black] {
    color: #ffffff;
    font-weight: bold;
    background: black;
}

input[type="radio"]+label[for^=white] {
    color: black;
    font-weight: bold;
    border: 1px solid grey;
    background: white;
}

input[type="radio"]+label[for^=green] {
    color: white;
    font-weight: bold;
    background: green;
}

label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    opacity: .8;
    transition:300ms ease;
}

input[type="radio"]:checked+label {
    border: .3em solid black;
}

label>input[type="hero"]:checked {
    background: red;
}

form fieldset:nth-of-type(3) input[type="text"] {
    border: none;
    height: 3em;
    width: 18em;
    background: #b2dcb0;
    color: black;
    font-size: 1em;
    padding-left: 1em;
    outline-color: black;
    transition: 200ms ease;
    text-align: center;

    &:focus {
        background: #7eda81;
        width: 23em;
        outline: none;
    }
}

div.heroes {
    img {
        display: inline-block;
    }
}

form fieldset:nth-of-type(4) {
    border: none;
    background: none;

    input {
        border: none;
        height: 2em;
        width: 12em;
        border-radius: 2em;
        background: #b0d289;
        font-size: 1em;
        margin-right: .9em;
        font-weight: 800;
        color: #1c441c;
    }
}

// tshirt design itself
div.svg-shirt-render {
    margin: auto;
    display: block;
    position: sticky;
    top: 0em;
    float:left;

    .shirt-container {
        position: relative;
        margin: auto;
        width: 31em;
        margin-bottom: -12em;
    }

    svg {
        width: 30em;
    }

    .shirticon {
        // position: relative;
        // right: 17.8em;
        // top: 7.5em;
        width: 17em;
        display: block;
        position: relative;
        text-align: center;
        top: -26em;
        left: 6.3em;
    }

    h2 {
        // right: 2em;
        // top: -2em;
        // position: relative;
        // width: 100%;
        margin: auto;
        position: relative;
        top: 1em;
        width: 8em;
        overflow-wrap: break-word;
    }

    img {
        width: 12.2em;
        // position: relative;
        // left: -3.2em;
        // top: -5em;
    }
}

input[type="button"] {
    padding: 1em;
    font-size: 1em;
    border-radius: 0.4em;
    font-weight: 700;
    background: #d52948;
    color: white;
    letter-spacing: 0.1em;
    border: white solid 0.2em;
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 5em;
    width: 15em;
    transition:300ms ease;
}

span {
    font-size: 1.2em;
    font-weight: 700;
    background: yellow;
    padding: .4em;
}

div.svg-shirt-render .shirt-container {
    position: relative;
    margin: 2em auto -11em;
    width: 31em;
}

p {
    width: 27em;
    text-align: center;
    line-height: 3em;
    margin: auto;
}



@media only screen and (min-width: 1280px) {

    .container {
        display: table;
        width: 100vw;
        fieldset {
            width: 37vw;
        }

        form {
            display: block;
            width: 50%;
            float:right;
            // height: 41em;
            // overflow: scroll;
        }

        // fieldset:nth-of-type(3) {
        //     position: absolute;
        //     top: 0;
        //     right: 5em;
        // }
        form fieldset:nth-of-type(4) {
            border: none;
            background: none;

            input {
                border-radius: 2em;
                background: #b0d289;
                font-size: 1em;
                margin-right: .9em;
                font-weight: 800;
                color: #1c441c;
                float:right;
                transition:300ms ease;
            }
        }
        div.svg-shirt-render {

            margin: auto;
            position: sticky;
            top: 0;
            float: left;
        
        }
        .container form {

            display: block;
            width: 50%;
            float: right;
        }

    }

    div.first-form {

        fieldset {
            width: 37em
        }
    }
}

input[type="text"]:hover {
    width: 40em;
}


ul {
    display: none;
}

//hover fun
input[type="button"]:hover {
    width: 17em;
    background: black;
}

form fieldset:nth-of-type(4) input:hover {
    background: white;
    color: black;
    border: black 3px solid;
    width: 15em;
}

label:hover {

    border: 1px black solid;
    opacity: 1;
    transform: rotate(2deg);

}


@import 'print.scss';