$back-color:white;
$highlight-color:rgb(84, 230, 205);
$blue:#4c69f6;
$light-blue:#4c94f6;
$yellow:#f6db35;
$orange:#ffc510;
$red:#ee5454;

@font-face {
    font-family: Avenger-outline;
    src: url('../fonts/avengers/HeroesAssemble3DRegular-gz3p.otf');
}

@font-face {
    font-family: Avenger-bold;
    src: url('../fonts/avengers/HeroesAssembleBoldExpanded-WELO.otf');
}

@font-face {
    font-family: Marvel;
    src: url('../fonts/MarvelRegular-Dj83.ttf');
}

@font-face {
    font-family: Ragnarok;
    src: url('../fonts/ThorRagnarok-xWEm.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    // font-family:Avenger-bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: cadetblue;
    box-sizing: border-box;
    // color:white;
}

div.svg-shirt {
    width: 95%;
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 3em;
    border-radius: 0.7em;
    // box-shadow: 0px 35px 44px -3px #adadad;
}

// input text field search pin
section:nth-of-type(1) {


    input[type="text"] {
        border: 0.4em solid black;
        width: 20em;
        height: 3em;
        border-radius: 2em;
        outline: none;
        font-size: 1em;
        font-weight: 800;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        letter-spacing: 0.7em;
    }

    input[type="submit"] {
        height: 4.8em;
        border-radius: 3.2em;
        background: yellow;
        border: 0.4em solid black;
        font-weight: 800;
    }
}

.svg-shirt svg {
    margin: auto;
    padding: 2em;

    & path {
        fill: black;
    }
}

section:nth-of-type(2) {
    background: $yellow;
    padding: 1em;
    width: 38.1em;
    margin: 1.3em auto;
    border: .5em solid black;

    h2 {
        text-align: center;
    }

    .steps {
        display: flex;
        justify-content: center;

        div {
            margin: 1.5em;
            text-align: center;
        }

        svg {
            width: 4em;

            & path {
                fill: black;
            }

            &polygon {
                fill: black;
            }
        }
    }
}

fieldset {
    border: none;
    background: #d4d9de;
}


section:first-of-type {
    display: block;
    position: relative;
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    font-family: Avenger-outline;
    font-size: 4em;
    text-align: center;
}

form {
    fieldset {
        background: white;
        margin: 1em;
        width: 90vw;
        border: 0.5em solid
    }

    legend {
        color: white;
        background: $red;
        width: 10em;
        padding: 0.9em;
        border: .3em solid black;
    }

    label {
        margin: 0.6em;
    }

}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
}

input[type="radio"]:checked+label {
    border: .3em solid black;
}

form fieldset:nth-of-type(3) input[type="text"] {
    border: none;
    height: 3em;
    width: 18em;
    background: rebeccapurple;
    color: white;
    font-size: 1em;
    padding-left: 1em;
    outline-color: black;

}

div.heroes {
    img {
        display:inline-block;
    }

    // label {
    //     font-size: 0;
    // }
}

form fieldset:nth-of-type(4) {
    border: none;
    background: none;

    input {
        border: none;
        height: 2em;
        width: 5em;
        border-radius: 2em;
        background: $yellow;
        font-size: 1em;
        position: relative;
        float: right;
        margin-right: .9em;
    }
}

// tshirt design itself

