<div class="section-bg"></div>
<section>
    <h1>Bomb-ass-Design</h1>

    <p>
        Create your own custom shirt.
        Design from scratch.
    </p>
    <span>or..</span>
    <p>
        Finish your design with the given pin
    </p>
    <form action="/getOld" method="GET">
        <fieldset>
        <label for="search">Pin search</label>
        <input type="text" name="search" id="search">
        <input type="submit" value="search">
    </fieldset>
    </form>

</section>