<%- include('partials/head')  %>
<%- include('partials/header')  %>
<h1>
    Thank you!
</h1>
<p>Your mega nerdy shirt has been saved.</p>
<p>To access your shirt use this code:</p>
<span><%= data.pin%></data.pin></span>
<%- include('partials/footer')  %>