@media print {
    body {
        background: cadetblue;
    }
    div.svg-shirt-render .shirt-container {
        position: relative;
        margin: auto;
        width: 31em;
        top: 9em;
    }
    form,
    h1,
    article,
    ul, input {
        display: none;
    }
    input[type="button"] {
        display: none;
    }
}